In [3]:
# Import the libraries needed

import pandas as pd
from ydata_profiling import ProfileReport
import numpy as np

C:\Users\Ingli\anaconda3\Lib\site-packages\numba\core\decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
C:\Users\Ingli\anaconda3\Lib\site-packages\visions\backends\shared\nan_handling.py:50: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @nb.jit

In [4]:
# Read in the dataset

raw=pd.read_csv("diabetic_data.csv")

In [5]:
# Replace "?" with NaN

raw.replace('?', np.nan, inplace = True)

In [92]:
# ****** ONLY RUN THIS IF REMOVING SUBSEQUENT VISITS *****
# Check for duplicate records based on patient_nbr
duplicates = raw[raw.duplicated(subset='patient_nbr', keep=False)]

# Check the duplicate records
#print(duplicates)

# Count the duplicate records
num_duplicates = duplicates.shape[0]
print("Number of duplicates: ", {num_duplicates})

Number of duplicates:  {47021}

In [93]:
# ***** ONLY RUN THIS IF REMOVING SUBSEQUENT VISITS *****
# Remove the subsequent visits
# Original dataset includes first and subsequent visits by the same patient

data = raw.drop_duplicates(subset='patient_nbr', keep='first')
data.shape

(71518, 50)

In [6]:
# ** IF USING ALL ROWS, RUN THIS **
# If the above 2 cells are not run, run this cell instead
# Code renames raw to data

data = raw

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      99493 non-null   object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    3197 non-null    object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                61510 non-null   object
 11  medical_specialty         51817 non-null   object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101745 non-null  object
 19  diag_2                    101408 non-null  object
 20  diag_3                    100343 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [8]:
# Remove unwanted attributes/columns

# Remove encounter_id, patient_nbr, weight, payer_code, medical specialty
data = data.drop(['encounter_id', 'patient_nbr', 'weight', 'payer_code', 'medical_specialty'], axis=1)

# Remove drugs with 0 users
data = data.drop(['examide', 'citoglipton'], axis = 1)

# View results
#data

In [9]:
# Change the non-drug attributes to categorical

data['race'] = data['race'].astype('category')
data['gender'] = data['gender'].astype('category')
data['age'] = data['age'].astype('category')
data['admission_type_id'] = data['admission_type_id'].astype('category')
data['discharge_disposition_id'] = data['discharge_disposition_id'].astype('category')
data['admission_source_id'] = data['admission_source_id'].astype('category')

#data['medical_specialty'] = data['medical_specialty'].astype('category')
data['diag_1'] = data['diag_1'].astype('category')
data['diag_2'] = data['diag_2'].astype('category')
data['diag_3'] = data['diag_3'].astype('category')
data['max_glu_serum'] = data['max_glu_serum'].astype('category')
data['A1Cresult'] = data['A1Cresult'].astype('category')
data['change'] = data['change'].astype('category')
data['diabetesMed'] = data['diabetesMed'].astype('category')
data['readmitted'] = data['readmitted'].astype('category')

In [57]:
# ****** DON'T DO THIS CELL IF CONVERTING DRUGS TO DRUG CLASSES ******
# Change drug attributes to categorical

data['metformin'] = data['metformin'].astype('category')
data['repaglinide'] = data['repaglinide'].astype('category')
data['nateglinide'] = data['nateglinide'].astype('category')
data['chlorpropamide'] = data['chlorpropamide'].astype('category')
data['glimepiride'] = data['glimepiride'].astype('category')
data['acetohexamide'] = data['acetohexamide'].astype('category')
data['glipizide'] = data['glipizide'].astype('category')
data['glyburide'] = data['glyburide'].astype('category')
data['tolbutamide'] = data['tolbutamide'].astype('category')
data['pioglitazone'] = data['pioglitazone'].astype('category')
data['rosiglitazone'] = data['rosiglitazone'].astype('category')
data['acarbose'] = data['acarbose'].astype('category')
data['miglitol'] = data['miglitol'].astype('category')
data['troglitazone'] = data['troglitazone'].astype('category')
data['tolazamide'] = data['tolazamide'].astype('category')
data['insulin'] = data['insulin'].astype('category')
data['glyburide-metformin'] = data['glyburide-metformin'].astype('category')
data['glipizide-metformin'] = data['glipizide-metformin'].astype('category')
data['glimepiride-pioglitazone'] = data['glimepiride-pioglitazone'].astype('category')
data['metformin-rosiglitazone'] = data['metformin-rosiglitazone'].astype('category')
data['metformin-pioglitazone'] = data['metformin-pioglitazone'].astype('category')

In [8]:
# ***** DON'T RUN THIS IF CONVERTING DRUGS TO DRUG CLASSES *****
# Alternative to above
# Change drug attributes to categorical

columns_to_convert = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 
                      'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 
                      'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 
                      'miglitol', 'troglitazone', 'tolazamide', 'insulin', 
                      'glyburide-metformin', 'glipizide-metformin',
                      'glimepiride-pioglitazone', 'metformin-rosiglitazone', 
                      'metformin-pioglitazone']

for column in columns_to_convert:
    data[column] = data[column].astype('category')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 43 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   race                      99493 non-null   category
 1   gender                    101766 non-null  category
 2   age                       101766 non-null  category
 3   admission_type_id         101766 non-null  category
 4   discharge_disposition_id  101766 non-null  category
 5   admission_source_id       101766 non-null  category
 6   time_in_hospital          101766 non-null  int64
 7   num_lab_procedures        101766 non-null  int64
 8   num_procedures            101766 non-null  int64
 9   num_medications           101766 non-null  int64
 10  number_outpatient         101766 non-null  int64
 11  number_emergency          101766 non-null  int64
 12  number_inpatient          101766 non-null  int64
 13  diag_1                    101745 non-null  category
 14  diag_2                    101408 non-null  category
 15  diag_3                    100343 non-null  category
 16  number_diagnoses          101766 non-null  int64
 17  max_glu_serum             5346 non-null    category
 18  A1Cresult                 17018 non-null   category
 19  metformin                 101766 non-null  object
 20  repaglinide               101766 non-null  object
 21  nateglinide               101766 non-null  object
 22  chlorpropamide            101766 non-null  object
 23  glimepiride               101766 non-null  object
 24  acetohexamide             101766 non-null  object
 25  glipizide                 101766 non-null  object
 26  glyburide                 101766 non-null  object
 27  tolbutamide               101766 non-null  object
 28  pioglitazone              101766 non-null  object
 29  rosiglitazone             101766 non-null  object
 30  acarbose                  101766 non-null  object
 31  miglitol                  101766 non-null  object
 32  troglitazone              101766 non-null  object
 33  tolazamide                101766 non-null  object
 34  insulin                   101766 non-null  object
 35  glyburide-metformin       101766 non-null  object
 36  glipizide-metformin       101766 non-null  object
 37  glimepiride-pioglitazone  101766 non-null  object
 38  metformin-rosiglitazone   101766 non-null  object
 39  metformin-pioglitazone    101766 non-null  object
 40  change                    101766 non-null  category
 41  diabetesMed               101766 non-null  category
 42  readmitted                101766 non-null  category
dtypes: category(14), int64(8), object(21)
memory usage: 24.2+ MB

In [11]:
# STREAMLINE CATEGORIES OF ADMISSION_TYPE, ADMISSION_SOURCE, AND DISCHARGE

# Remove from discharge_disposition_id rows of patients who died 
# (4 categories) or transferred to hospice (2 categories)
# or Neonate (actually contains adult data is is clearly wrongly coded)
# or Left AMA or NULL or Not Mapped or Unknown/Invalid

Removal_codes_discharge = [11, 13, 14, 19, 20, 21, 10, 7, 18, 25, 26]

data = data[~data['discharge_disposition_id'].isin(Removal_codes_discharge)]

# Remove from admission_description rows of patients who are 'Newborns',
#'N/A', 'NULL' or 'Not Mapped'

Removal_codes_admission = [4, 5, 6, 8]

data = data[~data['admission_type_id'].isin(Removal_codes_admission)]

# Remove from admission_source_id rows of patients who are N/A
# (2 categories) or Court/Law Enforcement or NULL or Not Mapped or
# Unknown/Invalid or related to birth (6 categories) or hospice

Removal_codes_source = [8, 9, 11, 12, 13, 14, 15, 17, 20, 21, 23, 24, 26]

data = data[~data['admission_source_id'].isin(Removal_codes_source)]

In [12]:
data.shape

(83790, 43)

In [13]:
# ***** converting drugs into drug classes *****
# using a function and a dictionary

# MEGLITINIDES

# Define the dictionary map for the drug
# Define a function to map string values to numeric values
def map_to_numeric(value):
    mapping = {
        'No': 0,
        'Steady': 1,
        'Down': 2,
        'Up': 3
    }
    return mapping.get(value, -1)  # Default to -1 for unknown values
    
def map_to_drug_class(row):
    values = [row['repaglinide'], row['nateglinide']]
    
    # Convert string values to numeric values 
    numeric_values = [map_to_numeric(value) for value in values]
    
    # Find the highest value and map it to the drug class
    highest_value = max(numeric_values)
    
    # Convert numbers back to labels No, Up, Down, Steady
    # Define the reverse mapping for drug class
    reverse_mapping = {
        0:'No',
        1:'Steady',
        2:'Down',
        3:'Up'
    }
    
    # Map the highest numeric value to the drug class
    drug_class = reverse_mapping.get(highest_value, 'Unknown')
        
    return drug_class

# Apply the function to create the Meglitinides column
data["Meglitinides"] = data.apply(map_to_drug_class, axis = 1)

print(data)

                   race  gender      age admission_type_id  \
1             Caucasian  Female  [10-20)                 1
2       AfricanAmerican  Female  [20-30)                 1
3             Caucasian    Male  [30-40)                 1
4             Caucasian    Male  [40-50)                 1
5             Caucasian    Male  [50-60)                 2
...                 ...     ...      ...               ...
101761  AfricanAmerican    Male  [70-80)                 1
101762  AfricanAmerican  Female  [80-90)                 1
101763        Caucasian    Male  [70-80)                 1
101764        Caucasian  Female  [80-90)                 2
101765        Caucasian    Male  [70-80)                 1

       discharge_disposition_id admission_source_id  time_in_hospital  \
1                             1                   7                 3
2                             1                   7                 2
3                             1                   7                 2
4                             1                   7                 1
5                             1                   2                 3
...                         ...                 ...               ...
101761                        3                   7                 3
101762                        4                   5                 5
101763                        1                   7                 1
101764                        3                   7                10
101765                        1                   7                 6

        num_lab_procedures  num_procedures  num_medications  ...  insulin  \
1                       59               0               18  ...       Up
2                       11               5               13  ...       No
3                       44               1               16  ...       Up
4                       51               0                8  ...   Steady
5                       31               6               16  ...   Steady
...                    ...             ...              ...  ...      ...
101761                  51               0               16  ...     Down
101762                  33               3               18  ...   Steady
101763                  53               0                9  ...     Down
101764                  45               2               21  ...       Up
101765                  13               3                3  ...       No

        glyburide-metformin  glipizide-metformin glimepiride-pioglitazone  \
1                        No                   No                       No
2                        No                   No                       No
3                        No                   No                       No
4                        No                   No                       No
5                        No                   No                       No
...                     ...                  ...                      ...
101761                   No                   No                       No
101762                   No                   No                       No
101763                   No                   No                       No
101764                   No                   No                       No
101765                   No                   No                       No

       metformin-rosiglitazone metformin-pioglitazone  change diabetesMed  \
1                           No                     No      Ch         Yes
2                           No                     No      No         Yes
3                           No                     No      Ch         Yes
4                           No                     No      Ch         Yes
5                           No                     No      No         Yes
...                        ...                    ...     ...         ...
101761                      No                     No      Ch         Yes
101762                      No                     No      No         Yes
101763                      No                     No      Ch         Yes
101764                      No                     No      Ch         Yes
101765                      No                     No      No          No

       readmitted Meglitinides
1             >30           No
2              NO           No
3              NO           No
4              NO           No
5             >30           No
...           ...          ...
101761        >30           No
101762         NO           No
101763         NO           No
101764         NO           No
101765         NO           No

[83790 rows x 44 columns]

In [14]:
# ***** converting drugs into drug classes *****
# using a function and a dictionary

# THIAZOLIDINEDIONES

# Define the dictionary map for the drug
# Define a function to map string values to numeric values
def map_to_numeric(value):
    mapping = {
        'No': 0,
        'Steady': 1,
        'Down': 2,
        'Up': 3
    }
    return mapping.get(value, -1)  # Default to -1 for unknown values
    
def map_to_drug_class(row):
    values = [row['pioglitazone'], row['rosiglitazone'], row['troglitazone']]
    
    # Convert string values to numeric values 
    numeric_values = [map_to_numeric(value) for value in values]
    
    # Find the highest value and map it to the drug class
    highest_value = max(numeric_values)
    
    # Convert numbers back to labels No, Up, Down, Steady
    # Define the reverse mapping for drug class
    reverse_mapping = {
        0:'No',
        1:'Steady',
        2:'Down',
        3:'Up'
    }
    
    # Map the highest numeric value to the drug class
    drug_class = reverse_mapping.get(highest_value, 'Unknown')
        
    return drug_class

# Apply the function to create the Meglitinides column
data["Thiazolidinediones"] = data.apply(map_to_drug_class, axis = 1)

print(data)

                   race  gender      age admission_type_id  \
1             Caucasian  Female  [10-20)                 1
2       AfricanAmerican  Female  [20-30)                 1
3             Caucasian    Male  [30-40)                 1
4             Caucasian    Male  [40-50)                 1
5             Caucasian    Male  [50-60)                 2
...                 ...     ...      ...               ...
101761  AfricanAmerican    Male  [70-80)                 1
101762  AfricanAmerican  Female  [80-90)                 1
101763        Caucasian    Male  [70-80)                 1
101764        Caucasian  Female  [80-90)                 2
101765        Caucasian    Male  [70-80)                 1

       discharge_disposition_id admission_source_id  time_in_hospital  \
1                             1                   7                 3
2                             1                   7                 2
3                             1                   7                 2
4                             1                   7                 1
5                             1                   2                 3
...                         ...                 ...               ...
101761                        3                   7                 3
101762                        4                   5                 5
101763                        1                   7                 1
101764                        3                   7                10
101765                        1                   7                 6

        num_lab_procedures  num_procedures  num_medications  ...  \
1                       59               0               18  ...
2                       11               5               13  ...
3                       44               1               16  ...
4                       51               0                8  ...
5                       31               6               16  ...
...                    ...             ...              ...  ...
101761                  51               0               16  ...
101762                  33               3               18  ...
101763                  53               0                9  ...
101764                  45               2               21  ...
101765                  13               3                3  ...

        glyburide-metformin  glipizide-metformin  glimepiride-pioglitazone  \
1                        No                   No                        No
2                        No                   No                        No
3                        No                   No                        No
4                        No                   No                        No
5                        No                   No                        No
...                     ...                  ...                       ...
101761                   No                   No                        No
101762                   No                   No                        No
101763                   No                   No                        No
101764                   No                   No                        No
101765                   No                   No                        No

       metformin-rosiglitazone metformin-pioglitazone change  diabetesMed  \
1                           No                     No     Ch          Yes
2                           No                     No     No          Yes
3                           No                     No     Ch          Yes
4                           No                     No     Ch          Yes
5                           No                     No     No          Yes
...                        ...                    ...    ...          ...
101761                      No                     No     Ch          Yes
101762                      No                     No     No          Yes
101763                      No                     No     Ch          Yes
101764                      No                     No     Ch          Yes
101765                      No                     No     No           No

       readmitted Meglitinides Thiazolidinediones
1             >30           No                 No
2              NO           No                 No
3              NO           No                 No
4              NO           No                 No
5             >30           No                 No
...           ...          ...                ...
101761        >30           No                 No
101762         NO           No                 No
101763         NO           No                 No
101764         NO           No             Steady
101765         NO           No                 No

[83790 rows x 45 columns]

In [15]:
# ***** converting drugs into drug classes *****
# using a function and a dictionary

# SULFONYLUREAS

# Define the dictionary map for the drug
# Define a function to map string values to numeric values
def map_to_numeric(value):
    mapping = {
        'No': 0,
        'Steady': 1,
        'Down': 2,
        'Up': 3
    }
    return mapping.get(value, -1)  # Default to -1 for unknown values
    
def map_to_drug_class(row):
    values = [row['chlorpropamide'], row['glimepiride'], row['acetohexamide'], row['glipizide'], row['glyburide'], row['tolbutamide'], row['tolazamide']]
    
    # Convert string values to numeric values 
    numeric_values = [map_to_numeric(value) for value in values]
    
    # Find the highest value and map it to the drug class
    highest_value = max(numeric_values)
    
    # Convert numbers back to labels No, Up, Down, Steady
    # Define the reverse mapping for drug class
    reverse_mapping = {
        0:'No',
        1:'Steady',
        2:'Down',
        3:'Up'
    }
    
    # Map the highest numeric value to the drug class
    drug_class = reverse_mapping.get(highest_value, 'Unknown')
        
    return drug_class

# Apply the function to create the Meglitinides column
data["Sulfonylureas"] = data.apply(map_to_drug_class, axis = 1)

print(data)

                   race  gender      age admission_type_id  \
1             Caucasian  Female  [10-20)                 1
2       AfricanAmerican  Female  [20-30)                 1
3             Caucasian    Male  [30-40)                 1
4             Caucasian    Male  [40-50)                 1
5             Caucasian    Male  [50-60)                 2
...                 ...     ...      ...               ...
101761  AfricanAmerican    Male  [70-80)                 1
101762  AfricanAmerican  Female  [80-90)                 1
101763        Caucasian    Male  [70-80)                 1
101764        Caucasian  Female  [80-90)                 2
101765        Caucasian    Male  [70-80)                 1

       discharge_disposition_id admission_source_id  time_in_hospital  \
1                             1                   7                 3
2                             1                   7                 2
3                             1                   7                 2
4                             1                   7                 1
5                             1                   2                 3
...                         ...                 ...               ...
101761                        3                   7                 3
101762                        4                   5                 5
101763                        1                   7                 1
101764                        3                   7                10
101765                        1                   7                 6

        num_lab_procedures  num_procedures  num_medications  ...  \
1                       59               0               18  ...
2                       11               5               13  ...
3                       44               1               16  ...
4                       51               0                8  ...
5                       31               6               16  ...
...                    ...             ...              ...  ...
101761                  51               0               16  ...
101762                  33               3               18  ...
101763                  53               0                9  ...
101764                  45               2               21  ...
101765                  13               3                3  ...

        glipizide-metformin  glimepiride-pioglitazone  \
1                        No                        No
2                        No                        No
3                        No                        No
4                        No                        No
5                        No                        No
...                     ...                       ...
101761                   No                        No
101762                   No                        No
101763                   No                        No
101764                   No                        No
101765                   No                        No

        metformin-rosiglitazone metformin-pioglitazone change diabetesMed  \
1                            No                     No     Ch         Yes
2                            No                     No     No         Yes
3                            No                     No     Ch         Yes
4                            No                     No     Ch         Yes
5                            No                     No     No         Yes
...                         ...                    ...    ...         ...
101761                       No                     No     Ch         Yes
101762                       No                     No     No         Yes
101763                       No                     No     Ch         Yes
101764                       No                     No     Ch         Yes
101765                       No                     No     No          No

        readmitted Meglitinides Thiazolidinediones Sulfonylureas
1              >30           No                 No            No
2               NO           No                 No        Steady
3               NO           No                 No            No
4               NO           No                 No        Steady
5              >30           No                 No            No
...            ...          ...                ...           ...
101761         >30           No                 No            No
101762          NO           No                 No            No
101763          NO           No                 No            No
101764          NO           No             Steady        Steady
101765          NO           No                 No            No

[83790 rows x 46 columns]

In [16]:
# ***** converting drugs into drug classes *****
# using a function and a dictionary

# Alpha-glucosidase inhibitors

# Define the dictionary map for the drug
# Define a function to map string values to numeric values
def map_to_numeric(value):
    mapping = {
        'No': 0,
        'Steady': 1,
        'Down': 2,
        'Up': 3
    }
    return mapping.get(value, -1)  # Default to -1 for unknown values
    
def map_to_drug_class(row):
    values = [row['acarbose'], row['miglitol']]
    
    # Convert string values to numeric values 
    numeric_values = [map_to_numeric(value) for value in values]
    
    # Find the highest value and map it to the drug class
    highest_value = max(numeric_values)
    
    # Convert numbers back to labels No, Up, Down, Steady
    # Define the reverse mapping for drug class
    reverse_mapping = {
        0:'No',
        1:'Steady',
        2:'Down',
        3:'Up'
    }
    
    # Map the highest numeric value to the drug class
    drug_class = reverse_mapping.get(highest_value, 'Unknown')
        
    return drug_class

# Apply the function to create the Meglitinides column
data["Alpha-Gluc_Inhibitors"] = data.apply(map_to_drug_class, axis = 1)

print(data)

                   race  gender      age admission_type_id  \
1             Caucasian  Female  [10-20)                 1
2       AfricanAmerican  Female  [20-30)                 1
3             Caucasian    Male  [30-40)                 1
4             Caucasian    Male  [40-50)                 1
5             Caucasian    Male  [50-60)                 2
...                 ...     ...      ...               ...
101761  AfricanAmerican    Male  [70-80)                 1
101762  AfricanAmerican  Female  [80-90)                 1
101763        Caucasian    Male  [70-80)                 1
101764        Caucasian  Female  [80-90)                 2
101765        Caucasian    Male  [70-80)                 1

       discharge_disposition_id admission_source_id  time_in_hospital  \
1                             1                   7                 3
2                             1                   7                 2
3                             1                   7                 2
4                             1                   7                 1
5                             1                   2                 3
...                         ...                 ...               ...
101761                        3                   7                 3
101762                        4                   5                 5
101763                        1                   7                 1
101764                        3                   7                10
101765                        1                   7                 6

        num_lab_procedures  num_procedures  num_medications  ...  \
1                       59               0               18  ...
2                       11               5               13  ...
3                       44               1               16  ...
4                       51               0                8  ...
5                       31               6               16  ...
...                    ...             ...              ...  ...
101761                  51               0               16  ...
101762                  33               3               18  ...
101763                  53               0                9  ...
101764                  45               2               21  ...
101765                  13               3                3  ...

        glimepiride-pioglitazone  metformin-rosiglitazone  \
1                             No                       No
2                             No                       No
3                             No                       No
4                             No                       No
5                             No                       No
...                          ...                      ...
101761                        No                       No
101762                        No                       No
101763                        No                       No
101764                        No                       No
101765                        No                       No

        metformin-pioglitazone change diabetesMed readmitted  Meglitinides  \
1                           No     Ch         Yes        >30            No
2                           No     No         Yes         NO            No
3                           No     Ch         Yes         NO            No
4                           No     Ch         Yes         NO            No
5                           No     No         Yes        >30            No
...                        ...    ...         ...        ...           ...
101761                      No     Ch         Yes        >30            No
101762                      No     No         Yes         NO            No
101763                      No     Ch         Yes         NO            No
101764                      No     Ch         Yes         NO            No
101765                      No     No          No         NO            No

       Thiazolidinediones Sulfonylureas Alpha-Gluc_Inhibitors
1                      No            No                    No
2                      No        Steady                    No
3                      No            No                    No
4                      No        Steady                    No
5                      No            No                    No
...                   ...           ...                   ...
101761                 No            No                    No
101762                 No            No                    No
101763                 No            No                    No
101764             Steady        Steady                    No
101765                 No            No                    No

[83790 rows x 47 columns]

In [17]:
# ***** converting drugs into drug classes *****
# using a function and a dictionary

# Combination therapies

# Define the dictionary map for the drug
# Define a function to map string values to numeric values
def map_to_numeric(value):
    mapping = {
        'No': 0,
        'Steady': 1,
        'Down': 2,
        'Up': 3
    }
    return mapping.get(value, -1)  # Default to -1 for unknown values
    
def map_to_drug_class(row):
    values = [row['glyburide-metformin'], row['glipizide-metformin'],
             row['glimepiride-pioglitazone'], row['metformin-rosiglitazone'],
             row['metformin-pioglitazone']]
    
    # Convert string values to numeric values 
    numeric_values = [map_to_numeric(value) for value in values]
    
    # Find the highest value and map it to the drug class
    highest_value = max(numeric_values)
    
    # Convert numbers back to labels No, Up, Down, Steady
    # Define the reverse mapping for drug class
    reverse_mapping = {
        0:'No',
        1:'Steady',
        2:'Down',
        3:'Up'
    }
    
    # Map the highest numeric value to the drug class
    drug_class = reverse_mapping.get(highest_value, 'Unknown')
        
    return drug_class

# Apply the function to create the Meglitinides column
data["Combination Therapies"] = data.apply(map_to_drug_class, axis = 1)

print(data)

                   race  gender      age admission_type_id  \
1             Caucasian  Female  [10-20)                 1
2       AfricanAmerican  Female  [20-30)                 1
3             Caucasian    Male  [30-40)                 1
4             Caucasian    Male  [40-50)                 1
5             Caucasian    Male  [50-60)                 2
...                 ...     ...      ...               ...
101761  AfricanAmerican    Male  [70-80)                 1
101762  AfricanAmerican  Female  [80-90)                 1
101763        Caucasian    Male  [70-80)                 1
101764        Caucasian  Female  [80-90)                 2
101765        Caucasian    Male  [70-80)                 1

       discharge_disposition_id admission_source_id  time_in_hospital  \
1                             1                   7                 3
2                             1                   7                 2
3                             1                   7                 2
4                             1                   7                 1
5                             1                   2                 3
...                         ...                 ...               ...
101761                        3                   7                 3
101762                        4                   5                 5
101763                        1                   7                 1
101764                        3                   7                10
101765                        1                   7                 6

        num_lab_procedures  num_procedures  num_medications  ...  \
1                       59               0               18  ...
2                       11               5               13  ...
3                       44               1               16  ...
4                       51               0                8  ...
5                       31               6               16  ...
...                    ...             ...              ...  ...
101761                  51               0               16  ...
101762                  33               3               18  ...
101763                  53               0                9  ...
101764                  45               2               21  ...
101765                  13               3                3  ...

        metformin-rosiglitazone  metformin-pioglitazone  change diabetesMed  \
1                            No                      No      Ch         Yes
2                            No                      No      No         Yes
3                            No                      No      Ch         Yes
4                            No                      No      Ch         Yes
5                            No                      No      No         Yes
...                         ...                     ...     ...         ...
101761                       No                      No      Ch         Yes
101762                       No                      No      No         Yes
101763                       No                      No      Ch         Yes
101764                       No                      No      Ch         Yes
101765                       No                      No      No          No

       readmitted Meglitinides  Thiazolidinediones Sulfonylureas  \
1             >30           No                  No            No
2              NO           No                  No        Steady
3              NO           No                  No            No
4              NO           No                  No        Steady
5             >30           No                  No            No
...           ...          ...                 ...           ...
101761        >30           No                  No            No
101762         NO           No                  No            No
101763         NO           No                  No            No
101764         NO           No              Steady        Steady
101765         NO           No                  No            No

       Alpha-Gluc_Inhibitors Combination Therapies
1                         No                    No
2                         No                    No
3                         No                    No
4                         No                    No
5                         No                    No
...                      ...                   ...
101761                    No                    No
101762                    No                    No
101763                    No                    No
101764                    No                    No
101765                    No                    No

[83790 rows x 48 columns]

In [18]:
# REMOVE DRUGS AND LEAVE DRUG CLASSES BEHIND

data = data.drop(['repaglinide', 'nateglinide'], axis=1)
data = data.drop(['pioglitazone', 'rosiglitazone', 'troglitazone'], axis=1)
data = data.drop(['chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
                  'glyburide', 'tolbutamide', 'tolazamide'], axis=1)
data = data.drop(['acarbose', 'miglitol'], axis=1)
data = data.drop(['glyburide-metformin', 'glipizide-metformin',
                 'glimepiride-pioglitazone', 'metformin-rosiglitazone',
                 'metformin-pioglitazone'], axis=1)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83790 entries, 1 to 101765
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      81792 non-null  category
 1   gender                    83790 non-null  category
 2   age                       83790 non-null  category
 3   admission_type_id         83790 non-null  category
 4   discharge_disposition_id  83790 non-null  category
 5   admission_source_id       83790 non-null  category
 6   time_in_hospital          83790 non-null  int64
 7   num_lab_procedures        83790 non-null  int64
 8   num_procedures            83790 non-null  int64
 9   num_medications           83790 non-null  int64
 10  number_outpatient         83790 non-null  int64
 11  number_emergency          83790 non-null  int64
 12  number_inpatient          83790 non-null  int64
 13  diag_1                    83774 non-null  category
 14  diag_2                    83468 non-null  category
 15  diag_3                    82626 non-null  category
 16  number_diagnoses          83790 non-null  int64
 17  max_glu_serum             310 non-null    category
 18  A1Cresult                 14459 non-null  category
 19  metformin                 83790 non-null  object
 20  insulin                   83790 non-null  object
 21  change                    83790 non-null  category
 22  diabetesMed               83790 non-null  category
 23  readmitted                83790 non-null  category
 24  Meglitinides              83790 non-null  object
 25  Thiazolidinediones        83790 non-null  object
 26  Sulfonylureas             83790 non-null  object
 27  Alpha-Gluc_Inhibitors     83790 non-null  object
 28  Combination Therapies     83790 non-null  object
dtypes: category(14), int64(8), object(7)
memory usage: 11.7+ MB

In [20]:
test0 = data[data.age == '[0-10)']
test0

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,metformin,insulin,change,diabetesMed,readmitted,Meglitinides,Thiazolidinediones,Sulfonylureas,Alpha-Gluc_Inhibitors,Combination Therapies
996,Caucasian,Male,[0-10),2,1,1,1,36,0,8,...,No,Steady,No,Yes,NO,No,No,No,No,No
1044,Caucasian,Female,[0-10),1,1,7,3,51,0,7,...,No,Up,Ch,Yes,NO,No,No,No,No,No
1140,Caucasian,Female,[0-10),1,1,7,3,51,0,6,...,No,Steady,No,Yes,NO,No,No,No,No,No
1163,Caucasian,Male,[0-10),1,1,7,2,25,0,2,...,No,Up,Ch,Yes,NO,No,No,No,No,No
1177,Caucasian,Male,[0-10),1,1,7,1,48,0,5,...,No,Steady,No,Yes,NO,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89538,Caucasian,Male,[0-10),3,1,1,2,1,0,3,...,No,Up,Ch,Yes,NO,No,No,No,No,No
89636,Caucasian,Male,[0-10),1,1,7,2,58,0,8,...,No,No,No,No,NO,No,No,No,No,No
93803,Caucasian,Male,[0-10),3,1,1,1,20,0,1,...,No,No,No,No,NO,No,No,No,No,No
98900,Caucasian,Female,[0-10),1,1,7,1,63,1,14,...,No,No,No,No,NO,No,No,No,No,No
100787,Caucasian,Female,[0-10),3,1,1,3,2,0,2,...,No,Steady,No,Yes,NO,No,No,No,No,No

In [21]:
# CHECKING FREQUENCY OF ADMISSION TYPE OF THIS AGE GROUP
test0.groupby('admission_type_id').age.describe()

                  count unique     top freq
admission_type_id
1                   103      1  [0-10)  103
2                    25      1  [0-10)   25
3                    16      1  [0-10)   16
4                     0      0     NaN  NaN
5                     0      0     NaN  NaN
6                     0      0     NaN  NaN
7                     0      0     NaN  NaN
8                     0      0     NaN  NaN

In [227]:
test11 = data[data.discharge_disposition_id == 12]
test11

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,metformin,insulin,change,diabetesMed,readmitted,Meglitinides,Thiazolidinediones,Sulfonylureas,Alpha-Gluc_Inhibitors,Combination Therapies
11395,Caucasian,Male,[70-80),2,12,1,6,35,0,20,...,No,No,No,No,<30,No,No,No,No,No
11553,Caucasian,Male,[70-80),2,12,1,4,51,0,16,...,No,No,No,No,<30,No,No,No,No,No
21843,Caucasian,Male,[90-100),1,12,1,1,26,1,6,...,No,No,No,No,NO,No,No,No,No,No

In [225]:
print(DATA)

                   race  gender      age admission_type_id  \
1             Caucasian  Female  [10-20)                 1
2       AfricanAmerican  Female  [20-30)                 1
3             Caucasian    Male  [30-40)                 1
4             Caucasian    Male  [40-50)                 1
5             Caucasian    Male  [50-60)                 2
...                 ...     ...      ...               ...
101761  AfricanAmerican    Male  [70-80)                 1
101762  AfricanAmerican  Female  [80-90)                 1
101763        Caucasian    Male  [70-80)                 1
101764        Caucasian  Female  [80-90)                 2
101765        Caucasian    Male  [70-80)                 1

       discharge_disposition_id admission_source_id  time_in_hospital  \
1                             1                   7                 3
2                             1                   7                 2
3                             1                   7                 2
4                             1                   7                 1
5                             1                   2                 3
...                         ...                 ...               ...
101761                        3                   7                 3
101762                        4                   5                 5
101763                        1                   7                 1
101764                        3                   7                10
101765                        1                   7                 6

        num_lab_procedures  num_procedures  num_medications  ...  metformin  \
1                       59               0               18  ...         No
2                       11               5               13  ...         No
3                       44               1               16  ...         No
4                       51               0                8  ...         No
5                       31               6               16  ...         No
...                    ...             ...              ...  ...        ...
101761                  51               0               16  ...     Steady
101762                  33               3               18  ...         No
101763                  53               0                9  ...     Steady
101764                  45               2               21  ...         No
101765                  13               3                3  ...         No

        insulin  change diabetesMed readmitted Meglitinides  \
1            Up      Ch         Yes        >30           No
2            No      No         Yes         NO           No
3            Up      Ch         Yes         NO           No
4        Steady      Ch         Yes         NO           No
5        Steady      No         Yes        >30           No
...         ...     ...         ...        ...          ...
101761     Down      Ch         Yes        >30           No
101762   Steady      No         Yes         NO           No
101763     Down      Ch         Yes         NO           No
101764       Up      Ch         Yes         NO           No
101765       No      No          No         NO           No

        Thiazolidinediones Sulfonylureas Alpha-Gluc_Inhibitors  \
1                       No            No                    No
2                       No        Steady                    No
3                       No            No                    No
4                       No        Steady                    No
5                       No            No                    No
...                    ...           ...                   ...
101761                  No            No                    No
101762                  No            No                    No
101763                  No            No                    No
101764              Steady        Steady                    No
101765                  No            No                    No

       Combination Therapies
1                         No
2                         No
3                         No
4                         No
5                         No
...                      ...
101761                    No
101762                    No
101763                    No
101764                    No
101765                    No

[83790 rows x 29 columns]

In [32]:
# RECODING VALUES IN DISCHARGE_DISPOSITION_ID NEW ATTRIBUTE - Attempt 1

# Map for original values to new category values

conditions = [(data['discharge_disposition_id'].isin([1])),
              (data['discharge_disposition_id'].isin([6, 8])),
              (data['discharge_disposition_id'].isin([2, 3, 4, 5, 9, 12, 15, 16, 17, 22, 23, 24, 27, 28, 29, 30])),
              (data['discharge_disposition_id'].isin([11, 13, 14, 19, 20, 21])),
              (data['discharge_disposition_id'].isin([18, 25, 26, 7, 10]))]

# Names of new categories in order that matches the above conditions

new_labels = ['Home', 'Home_With_Support', 'Institution', 'End_of_life', 'Problem']

# Use Numpy Select to create a new column with the mapped categories

data['Discharge_Location'] = np.select(conditions, new_labels, default = 'Unknown')

print(data)

                   race  gender      age admission_type_id  \
1             Caucasian  Female  [10-20)                 1
2       AfricanAmerican  Female  [20-30)                 1
3             Caucasian    Male  [30-40)                 1
4             Caucasian    Male  [40-50)                 1
5             Caucasian    Male  [50-60)                 2
...                 ...     ...      ...               ...
101761  AfricanAmerican    Male  [70-80)                 1
101762  AfricanAmerican  Female  [80-90)                 1
101763        Caucasian    Male  [70-80)                 1
101764        Caucasian  Female  [80-90)                 2
101765        Caucasian    Male  [70-80)                 1

       discharge_disposition_id admission_source_id  time_in_hospital  \
1                             1                   7                 3
2                             1                   7                 2
3                             1                   7                 2
4                             1                   7                 1
5                             1                   2                 3
...                         ...                 ...               ...
101761                        3                   7                 3
101762                        4                   5                 5
101763                        1                   7                 1
101764                        3                   7                10
101765                        1                   7                 6

        num_lab_procedures  num_procedures  num_medications  ...  insulin  \
1                       59               0               18  ...       Up
2                       11               5               13  ...       No
3                       44               1               16  ...       Up
4                       51               0                8  ...   Steady
5                       31               6               16  ...   Steady
...                    ...             ...              ...  ...      ...
101761                  51               0               16  ...     Down
101762                  33               3               18  ...   Steady
101763                  53               0                9  ...     Down
101764                  45               2               21  ...       Up
101765                  13               3                3  ...       No

        change  diabetesMed readmitted Meglitinides Thiazolidinediones  \
1           Ch          Yes        >30           No                 No
2           No          Yes         NO           No                 No
3           Ch          Yes         NO           No                 No
4           Ch          Yes         NO           No                 No
5           No          Yes        >30           No                 No
...        ...          ...        ...          ...                ...
101761      Ch          Yes        >30           No                 No
101762      No          Yes         NO           No                 No
101763      Ch          Yes         NO           No                 No
101764      Ch          Yes         NO           No             Steady
101765      No           No         NO           No                 No

        Sulfonylureas Alpha-Gluc_Inhibitors Combination Therapies  \
1                  No                    No                    No
2              Steady                    No                    No
3                  No                    No                    No
4              Steady                    No                    No
5                  No                    No                    No
...               ...                   ...                   ...
101761             No                    No                    No
101762             No                    No                    No
101763             No                    No                    No
101764         Steady                    No                    No
101765             No                    No                    No

       Discharge_Location
1                    Home
2                    Home
3                    Home
4                    Home
5                    Home
...                   ...
101761        Institution
101762        Institution
101763               Home
101764        Institution
101765               Home

[83790 rows x 30 columns]

In [33]:
# VERIFYING DISCHARGE_LOCATION WAS CORRECTLY RELABELED

print(data['Discharge_Location'].unique())
print(data['Discharge_Location'].value_counts())

['Home' 'Institution' 'Home_With_Support']
Discharge_Location
Home                 54554
Institution          17988
Home_With_Support    11248
Name: count, dtype: int64

In [35]:
# REMOVE ORIGINAL DISCHARGE ATTRIBUTE

data = data.drop(['discharge_disposition_id'], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83790 entries, 1 to 101765
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   race                   81792 non-null  category
 1   gender                 83790 non-null  category
 2   age                    83790 non-null  category
 3   admission_type_id      83790 non-null  category
 4   admission_source_id    83790 non-null  category
 5   time_in_hospital       83790 non-null  int64
 6   num_lab_procedures     83790 non-null  int64
 7   num_procedures         83790 non-null  int64
 8   num_medications        83790 non-null  int64
 9   number_outpatient      83790 non-null  int64
 10  number_emergency       83790 non-null  int64
 11  number_inpatient       83790 non-null  int64
 12  diag_1                 83774 non-null  category
 13  diag_2                 83468 non-null  category
 14  diag_3                 82626 non-null  category
 15  number_diagnoses       83790 non-null  int64
 16  max_glu_serum          310 non-null    category
 17  A1Cresult              14459 non-null  category
 18  metformin              83790 non-null  object
 19  insulin                83790 non-null  object
 20  change                 83790 non-null  category
 21  diabetesMed            83790 non-null  category
 22  readmitted             83790 non-null  category
 23  Meglitinides           83790 non-null  object
 24  Thiazolidinediones     83790 non-null  object
 25  Sulfonylureas          83790 non-null  object
 26  Alpha-Gluc_Inhibitors  83790 non-null  object
 27  Combination Therapies  83790 non-null  object
 28  Discharge_Location     83790 non-null  object
dtypes: category(13), int64(8), object(8)
memory usage: 12.2+ MB

In [36]:
# RECODING VALUES IN ADMISSION_SOURCE COLUMN TO NEW ATTRIBUTE

# Map for original values to new category values

conditions = [(data['admission_source_id'].isin([1, 2, 3])),
              (data['admission_source_id'].isin([4, 5, 6, 10, 18, 19, 22, 25])),
              (data['admission_source_id'].isin([7]))]

# Names of new categories in order that matches the above conditions

new_labels = ['Referral', 'Transfer', 'Emerg_Dept']

# Use Numpy Select to create a new column with the mapped categories

data['Admission_Source'] = np.select(conditions, new_labels, default = 'Unknown')

print(data)

                   race  gender      age admission_type_id  \
1             Caucasian  Female  [10-20)                 1
2       AfricanAmerican  Female  [20-30)                 1
3             Caucasian    Male  [30-40)                 1
4             Caucasian    Male  [40-50)                 1
5             Caucasian    Male  [50-60)                 2
...                 ...     ...      ...               ...
101761  AfricanAmerican    Male  [70-80)                 1
101762  AfricanAmerican  Female  [80-90)                 1
101763        Caucasian    Male  [70-80)                 1
101764        Caucasian  Female  [80-90)                 2
101765        Caucasian    Male  [70-80)                 1

       admission_source_id  time_in_hospital  num_lab_procedures  \
1                        7                 3                  59
2                        7                 2                  11
3                        7                 2                  44
4                        7                 1                  51
5                        2                 3                  31
...                    ...               ...                 ...
101761                   7                 3                  51
101762                   5                 5                  33
101763                   7                 1                  53
101764                   7                10                  45
101765                   7                 6                  13

        num_procedures  num_medications  number_outpatient  ...  change  \
1                    0               18                  0  ...      Ch
2                    5               13                  2  ...      No
3                    1               16                  0  ...      Ch
4                    0                8                  0  ...      Ch
5                    6               16                  0  ...      No
...                ...              ...                ...  ...     ...
101761               0               16                  0  ...      Ch
101762               3               18                  0  ...      No
101763               0                9                  1  ...      Ch
101764               2               21                  0  ...      Ch
101765               3                3                  0  ...      No

        diabetesMed readmitted Meglitinides Thiazolidinediones  Sulfonylureas  \
1               Yes        >30           No                 No             No
2               Yes         NO           No                 No         Steady
3               Yes         NO           No                 No             No
4               Yes         NO           No                 No         Steady
5               Yes        >30           No                 No             No
...             ...        ...          ...                ...            ...
101761          Yes        >30           No                 No             No
101762          Yes         NO           No                 No             No
101763          Yes         NO           No                 No             No
101764          Yes         NO           No             Steady         Steady
101765           No         NO           No                 No             No

       Alpha-Gluc_Inhibitors Combination Therapies Discharge_Location  \
1                         No                    No               Home
2                         No                    No               Home
3                         No                    No               Home
4                         No                    No               Home
5                         No                    No               Home
...                      ...                   ...                ...
101761                    No                    No        Institution
101762                    No                    No        Institution
101763                    No                    No               Home
101764                    No                    No        Institution
101765                    No                    No               Home

       Admission_Source
1            Emerg_Dept
2            Emerg_Dept
3            Emerg_Dept
4            Emerg_Dept
5              Referral
...                 ...
101761       Emerg_Dept
101762         Transfer
101763       Emerg_Dept
101764       Emerg_Dept
101765       Emerg_Dept

[83790 rows x 30 columns]

In [37]:
# VERIFYING ADMISSION_SOURCE WAS CORRECTLY RELABELED

print(data['Admission_Source'].unique())
print(data['Admission_Source'].value_counts())

['Emerg_Dept' 'Referral' 'Transfer']
Admission_Source
Emerg_Dept    51551
Referral      26756
Transfer       5483
Name: count, dtype: int64

In [38]:
# REMOVE ORIGINAL DISCHARGE ATTRIBUTE

data = data.drop(['admission_source_id'], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83790 entries, 1 to 101765
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   race                   81792 non-null  category
 1   gender                 83790 non-null  category
 2   age                    83790 non-null  category
 3   admission_type_id      83790 non-null  category
 4   time_in_hospital       83790 non-null  int64
 5   num_lab_procedures     83790 non-null  int64
 6   num_procedures         83790 non-null  int64
 7   num_medications        83790 non-null  int64
 8   number_outpatient      83790 non-null  int64
 9   number_emergency       83790 non-null  int64
 10  number_inpatient       83790 non-null  int64
 11  diag_1                 83774 non-null  category
 12  diag_2                 83468 non-null  category
 13  diag_3                 82626 non-null  category
 14  number_diagnoses       83790 non-null  int64
 15  max_glu_serum          310 non-null    category
 16  A1Cresult              14459 non-null  category
 17  metformin              83790 non-null  object
 18  insulin                83790 non-null  object
 19  change                 83790 non-null  category
 20  diabetesMed            83790 non-null  category
 21  readmitted             83790 non-null  category
 22  Meglitinides           83790 non-null  object
 23  Thiazolidinediones     83790 non-null  object
 24  Sulfonylureas          83790 non-null  object
 25  Alpha-Gluc_Inhibitors  83790 non-null  object
 26  Combination Therapies  83790 non-null  object
 27  Discharge_Location     83790 non-null  object
 28  Admission_Source       83790 non-null  object
dtypes: category(12), int64(8), object(9)
memory usage: 12.8+ MB

In [42]:
data['diag_1'].isnull().sum()

16

In [43]:
# USE dropna() METHOD IN PANDAS TO REMOVE NULL VALUES FROM DIAG_1 ATTRIBUTE

data.dropna(subset=['diag_1'], inplace=True)

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83771 entries, 1 to 101765
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   race                   81777 non-null  category
 1   gender                 83771 non-null  category
 2   age                    83771 non-null  category
 3   admission_type_id      83771 non-null  category
 4   time_in_hospital       83771 non-null  int64
 5   num_lab_procedures     83771 non-null  int64
 6   num_procedures         83771 non-null  int64
 7   num_medications        83771 non-null  int64
 8   number_outpatient      83771 non-null  int64
 9   number_emergency       83771 non-null  int64
 10  number_inpatient       83771 non-null  int64
 11  diag_1                 83771 non-null  category
 12  diag_2                 83449 non-null  category
 13  diag_3                 82607 non-null  category
 14  number_diagnoses       83771 non-null  int64
 15  max_glu_serum          310 non-null    category
 16  A1Cresult              14457 non-null  category
 17  metformin              83771 non-null  object
 18  insulin                83771 non-null  object
 19  change                 83771 non-null  category
 20  diabetesMed            83771 non-null  category
 21  readmitted             83771 non-null  category
 22  Meglitinides           83771 non-null  object
 23  Thiazolidinediones     83771 non-null  object
 24  Sulfonylureas          83771 non-null  object
 25  Alpha-Gluc_Inhibitors  83771 non-null  object
 26  Combination Therapies  83771 non-null  object
 27  Discharge_Location     83771 non-null  object
 28  Admission_Source       83771 non-null  object
dtypes: category(12), int64(8), object(9)
memory usage: 12.8+ MB

In [45]:
# CHECKING VALUES FOR GENDER ATTRIBUTE

print(data['gender'].unique())
print(data['gender'].value_counts())

['Female', 'Male', 'Unknown/Invalid']
Categories (3, object): ['Female', 'Male', 'Unknown/Invalid']
gender
Female             45295
Male               38476
Unknown/Invalid        3
Name: count, dtype: int64

In [53]:
# REMOVE ROWS WHERE GENDER IS "UNKNOWN/INVALID"

# use double quotes "XXX / YYY"

data = data[~data['gender'].isin(["Unknown/Invalid"])]

In [54]:
# VERIFYING THAT GENDER HAS BEEN ADJUSTED

data[data.gender == 'Unknown/Invalid']

Empty DataFrame
Columns: [race, gender, age, admission_type_id, time_in_hospital, num_lab_procedures, num_procedures, num_medications, number_outpatient, number_emergency, number_inpatient, diag_1, diag_2, diag_3, number_diagnoses, max_glu_serum, A1Cresult, metformin, insulin, change, diabetesMed, readmitted, Meglitinides, Thiazolidinediones, Sulfonylureas, Alpha-Gluc_Inhibitors, Combination Therapies, Discharge_Location, Admission_Source]
Index: []

[0 rows x 29 columns]

In [58]:
# CHANGE VALUES IN READMITTED ATTRIBUTE
# WANT '>30' TO BE 'NO'

print(data['readmitted'].unique())
print(data['readmitted'].value_counts())

# Use 'where' method in numpy

data['readmitted'] = np.where(data['readmitted'] == '>30', 'NO', data['readmitted'])

print(data['readmitted'].unique())
print(data['readmitted'].value_counts())

['>30', 'NO', '<30']
Categories (3, object): ['<30', '>30', 'NO']
readmitted
NO     44371
>30    29869
<30     9531
Name: count, dtype: int64
['NO' '<30']
readmitted
NO     74240
<30     9531
Name: count, dtype: int64

In [27]:
print(data['age'].unique())
print(data['age'].value_counts())

['[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)', '[60-70)', '[70-80)', '[80-90)', '[90-100)', '[0-10)']
Categories (10, object): ['[0-10)', '[10-20)', '[20-30)', '[30-40)', ..., '[60-70)', '[70-80)', '[80-90)', '[90-100)']
age
[70-80)     21030
[60-70)     18819
[50-60)     14430
[80-90)     13990
[40-50)      7962
[30-40)      3155
[90-100)     2219
[20-30)      1419
[10-20)       622
[0-10)        144
Name: count, dtype: int64

In [160]:
test12 = DATA[DATA.admission_source_id == 26]
test12

Empty DataFrame
Columns: [race, gender, age, admission_type_id, discharge_disposition_id, admission_source_id, time_in_hospital, num_lab_procedures, num_procedures, num_medications, number_outpatient, number_emergency, number_inpatient, diag_1, diag_2, diag_3, number_diagnoses, max_glu_serum, A1Cresult, metformin, insulin, change, diabetesMed, readmitted, Meglitinides, Thiazolidinediones, Sulfonylureas, Alpha-Gluc_Inhibitors, Combination Therapies, Discharge_Location]
Index: []

[0 rows x 30 columns]

In [161]:
raw[raw.admission_source_id == 11]

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
83510,261714048,104860962,Caucasian,Female,[20-30),NaN,1,1,11,3,...,No,Steady,No,No,No,No,No,No,Yes,NO
85588,271244574,33727752,AfricanAmerican,Female,[70-80),NaN,3,1,11,2,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [170]:
DATA[DATA.readmitted == '<30']

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,insulin,change,diabetesMed,readmitted,Meglitinides,Thiazolidinediones,Sulfonylureas,Alpha-Gluc_Inhibitors,Combination Therapies,Discharge_Location
11,AfricanAmerican,Male,[60-70),2,1,4,7,62,0,11,...,Steady,Ch,Yes,<30,No,No,Up,No,No,Home
12,Caucasian,Female,[40-50),1,3,7,7,60,0,15,...,Down,Ch,Yes,<30,Up,No,No,No,No,Institution
16,AfricanAmerican,Male,[50-60),1,1,7,4,45,4,17,...,Steady,Ch,Yes,<30,No,No,Steady,No,No,Home
46,Caucasian,Female,[70-80),3,5,4,9,25,3,16,...,Down,Ch,Yes,<30,No,No,Steady,No,No,Institution
50,AfricanAmerican,Male,[50-60),2,1,2,4,40,1,14,...,No,No,No,<30,No,No,No,No,No,Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101699,Caucasian,Female,[80-90),1,6,7,4,43,0,20,...,Steady,Ch,Yes,<30,No,Steady,No,No,No,Home
101727,Caucasian,Female,[70-80),1,1,7,2,33,0,16,...,Down,Ch,Yes,<30,No,No,No,No,No,Home
101732,NaN,Female,[70-80),2,1,1,4,41,0,13,...,Steady,Ch,Yes,<30,No,No,No,No,Steady,Home
101746,Caucasian,Male,[70-80),1,1,7,4,2,0,7,...,No,No,Yes,<30,No,No,Steady,No,No,Home
101750,Caucasian,Female,[80-90),3,1,1,3,31,2,24,...,Down,Ch,Yes,<30,No,No,No,No,No,Home

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83771 entries, 1 to 101765
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   race                   81777 non-null  category
 1   gender                 83771 non-null  category
 2   age                    83771 non-null  category
 3   admission_type_id      83771 non-null  category
 4   time_in_hospital       83771 non-null  int64
 5   num_lab_procedures     83771 non-null  int64
 6   num_procedures         83771 non-null  int64
 7   num_medications        83771 non-null  int64
 8   number_outpatient      83771 non-null  int64
 9   number_emergency       83771 non-null  int64
 10  number_inpatient       83771 non-null  int64
 11  diag_1                 83771 non-null  category
 12  diag_2                 83449 non-null  category
 13  diag_3                 82607 non-null  category
 14  number_diagnoses       83771 non-null  int64
 15  max_glu_serum          310 non-null    category
 16  A1Cresult              14457 non-null  category
 17  metformin              83771 non-null  object
 18  insulin                83771 non-null  object
 19  change                 83771 non-null  category
 20  diabetesMed            83771 non-null  category
 21  readmitted             83771 non-null  object
 22  Meglitinides           83771 non-null  object
 23  Thiazolidinediones     83771 non-null  object
 24  Sulfonylureas          83771 non-null  object
 25  Alpha-Gluc_Inhibitors  83771 non-null  object
 26  Combination Therapies  83771 non-null  object
 27  Discharge_Location     83771 non-null  object
 28  Admission_Source       83771 non-null  object
dtypes: category(11), int64(8), object(10)
memory usage: 13.3+ MB

In [187]:
# checking NA's, NULL's and Not Mapped in admission_description
# RESULT - NA's 3174, NULL 4588, Not Mapped 291

test5 = (DATA['admission_type_id'] == 26).sum()
print(test5)

0

In [174]:
# checking data for NULL, Not Mapped, Unknown/invalid, Expired, Hospice in discharge_description
# RESULT - NULL 2474, Expired 1077, Hospice/Home 243, Hospice/Medical Facility 218, Expired at home 6,
# Expired at medical facility 1, Not Mapped 778

test5 = (raw['discharge_disposition_id'] == 26).sum()
print(test5)

0

In [175]:
# checking NA's, NULL's, Not Mapped and Unknown in admission_source_id
# RESULT - NA's 95, Not Mapped 155 

test5 = (raw['admission_source_id'] == 21).sum()
print(test5)

0

In [61]:
# FINAL STEP - Run the EDA report

profile = ProfileReport(data, title="Diabetic Data EDA Profile Report Oct 19")
profile.to_file("EDA_report_Oct19.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]